.message-input {
    width: 100%;
    padding: 10px 0;
    background-color: #7197a0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.message-input-text {
    width: 50%;
    height: 10px;
    padding: 10px;
}

.message-input-button {
    height: 34px;
    padding: 6px 20px;
}