.message-list {
    flex-shrink: 3;
    overflow-y: scroll;
    background-color: #fbfbfb;
}

.message-list::-webkit-scrollbar {
    width: 0;
}

.messages-divider {
    display: block;
    padding: 20px 0;
    color: #223053;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style: none;
}