.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    background-color: #7197a0;
    border-radius: 0 0 5px 5px;
    color: 	#fbfbfb;
}

.header-title {
    padding-left: 10px;
}

.last-message {
    padding-right: 10px;
}