body {
    background-color: #fff4f3;
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    width: 70%;
    margin: 0 auto;
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
}