.edit-message-modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal-shown {
    display: block;
}

.modal-wrapper {
    width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 5px;
    background-color: #c8e0e4;
}

.modal-wrapper h3 {
    margin-top: 0;
    text-align: center;
}

.edit-message-input {
    width: 96%;
    height: 100px;
    padding: 10px;
    resize: none;
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.buttons-group {
    margin-top: 10px;
    text-align: right;
}

.edit-message-button {
    margin-right: 10px;
}