.message {
    position: relative;
    width: 70%;
    margin-bottom: 15px;
    padding: 10px 10px 10px 40px;
    border-radius: 15px;
    background-color: #c8e0e4;
}

.message-user-avatar {
    position: absolute;
    top: -5px;
    left: -15px;
    height: 50px;
    width: 50px;
    border: 1px solid #fbfbfb;
    border-radius: 50%;
}

.message-user-name {
    margin-bottom: 5px;
    color: #223053;
    font-weight: bold;
}

.heart-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.message-like,
.message-liked {
    cursor: pointer;
}

.message-like path {
    fill: gray;
}

.message-liked path {
    fill: red;
}

.message-time {
    text-align: right;
    color: gray;
    font-size: 14px;
}

.edit-mark {
    display: none;
    position: absolute;
    right: 50px;
    bottom: 10px;
    color: gray;
    font-size: 12px;
}

.edited {
    display: block;
}